.landingPageContainer {
    width: 100vw;
    /* height: 100vh; */
    background-color: white;
    /* background: rgb(198, 248, 248); */
}

.landingPageContainer nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem ;
    padding-block: 1rem  ;
    align-items: center;
    position: sticky;
    background-color: rgb(242, 245, 248);
    /* border-bottom: 2px solid rgb(249, 250, 251) */
    border-bottom: 2px solid rgba(0, 0, 0, 0.02);
;
}

.homeImage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist p{
    font-weight: 500;
    cursor: pointer;
}

.navlist p:hover{
    /* border: 2px solid #665df5; */
    color: #665df5;
    text-shadow:0.8px 0.8px  1.2px #665df5 ;
    /* padding: 3px 6px; */

}

.landingPageContainer nav .navlist{
    display: flex;
    gap: 1.8rem;
}

.navHeader{
    cursor: pointer;
}

.landingMainContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
    height: 85vh;
    /* margin-top: 68px; */
    padding-inline: 3.5rem;
}

.landingMainContainer h1{
    font-weight: bolder;
    font-size: 3rem;
    color: #665df5;
}

.landingMainContainer p{
    color: rgba(0, 0, 0, 0.65);
    margin-left: 7px;
    /* text-shadow:0.8px 0.8px  1.2px #665df5 ; */
}

.getStartedBtn {
    /* background-color: #0b114df3; */
    background-color: #665df5;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 1.5rem;
}

.getStartedBtn a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}